/* reset all */

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* global font settings */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'PingFang SC', sans-serif;
}

code {
  font-family: 'Operator Mono', 'PingFang SC', monospace;
}

/* global color settings */

body {
  background-color: #666;
}

/* mid-box */

.v-mid>*, .v-mid:after {
  display: inline-block;
  vertical-align: middle;
}

.v-mid:after {
  content: '';
  width: 0%;
  height: 100%;
}

/* grid */

.row-full {
  width: 100%;
}

.row-1200 {
  width: 1200px;
}

.row-full>*, .row-1200>* {
  display: inline-block;
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(2 * 100% / 12);
}

.col-3 {
  width: calc(3 * 100% / 12);
}

.col-4 {
  width: calc(4 * 100% / 12);
}

.col-5 {
  width: calc(5 * 100% / 12);
}

.col-6 {
  width: calc(6* 100% / 12);
}

.col-7 {
  width: calc(7 * 100% / 12);
}

.col-8 {
  width: calc(8 * 100% / 12);
}

.col-9 {
  width: calc(9 * 100% / 12);
}

.col-10 {
  width: calc(10 * 100% / 12);
}

.col-11 {
  width: calc(11 * 100% / 12);
}

.col-12 {
  width: 100%;
}